<template data-controller-name="app.controllers.CreateCustomer">
  <div data-sap-ui-type="sap.m.Label" data-text="Name"></div>
  <div data-sap-ui-type="sap.m.Input" data-placeholder="type here"></div>
  <div data-sap-ui-type="sap.m.Label" data-text="Surname"></div>
  <div data-sap-ui-type="sap.m.Input" data-placeholder="type here"></div>
  <div data-sap-ui-type="sap.m.Label" data-text="Password"></div>
  <div data-sap-ui-type="sap.m.Input" data-placeholder="type here"></div>
  <div data-sap-ui-type="sap.m.Label" data-text="Repeat Password"></div>
  <div data-sap-ui-type="sap.m.Input" data-placeholder="type here"></div>
  <div data-sap-ui-type="sap.m.Button" data-text="Save and Go" data-press="navToCustomerDetail"></div>
</template>
